.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    position: relative;
    margin-top: 20%;
}
.thanks__heading {
    margin-bottom: 70px;
    text-align: center;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}
.form__button-submit {
    padding: 10px;
    width: 14%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: large;
}